In [103]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [104]:
#2 rows deleted:
#20484	,RegEx used to extract tokens from an ASCIIMath expression"	11		1	0	0	https://i.stack.imgur.com/6VcaB.png									0	1		0	0	0	0	0	1	0	0	0	1	1	0	0	0	0	0
#71350	,Bootstrap modal wont trigger on mobile"	443	Lake Mary, FL, United States	85	165	11	https://i.stack.imgur.com/TLzJW.png?s=128&g=1									0	1		0	0	0	0	0	3	0	0	0	1	1	0	0	0	0	0

openCloseData=pd.read_csv("openCloseData.csv")
openCloseData.head()

C:\Users\Lenovo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,PostId,UserId,Comment,Body,Title,Tags,Reputation,experienceInTime,WebsiteUrl,...,countOfInterrogativeSent,sentencesStartWithYouCount,sentencesStartWithICount,shortWordCount,bodyWordCount,punctuationCount,websiteUrlFilled,locationFilled,aboutMeFilled,profileImageUrlFilled
0,948,21170255,5921,102,"<p>I tried to Google for this, but was (surpri...",Can anyone point me to (or post) an array of e...,<javascript><html><arrays><tags>,17527.0,1953.0,NaN,...,1,0,3,87,176,50,0,1,1,0
1,36870,38290647,1601251,102,<p>I am at a decision fork where i have to pic...,RESTful API with either Tomcat or Node.js?,<java><node.js><rest><tomcat><typescript>,151.0,1425.0,NaN,...,5,0,1,51,118,19,0,0,0,0
2,3788,6496114,52924,102,<p>Does anyone know of a good tool to test Sch...,Tool for testing Schema.org markup,<testing><markup><schema.org>,1639.0,900.0,http://www.agendarecife.com,...,1,0,0,15,50,17,1,1,1,0
3,42882,25982771,1968462,102,"<p>The <a href=""http://www.postgresql.org/docs...",Inserting into simple Postgres views,<sql><postgresql>,2669.0,620.0,https://katrinahoffert.github.io/,...,1,0,2,70,189,45,1,1,1,1
4,14338,10142243,383479,102,<p>Which frameworks would you recommend for wr...,Frameworks for Unittests for Multithreading in...,<java><multithreading><unit-testing><concurrency>,245.0,648.0,NaN,...,1,0,0,31,68,11,0,0,0,0

In [105]:
print(openCloseData.shape)
openCloseData.drop(['Unnamed: 0'],inplace=True,axis=1)
print(openCloseData.shape)

(159998, 35)
(159998, 34)

In [106]:
openCloseData.columns

Index(['PostId', 'UserId', 'Comment', 'Body', 'Title', 'Tags', 'Reputation',
       'experienceInTime', 'WebsiteUrl', 'Location', 'AboutMe', 'Views',
       'Upvotes', 'Downvotes', 'ProfileImageUrl', 'tagCount', 'closed',
       'lowerUpperRatio', 'sentenceCount', 'firstLineLength', 'codeLength',
       'urlCount', 'SOUrlCount', 'titleLengthInChars',
       'countOfInterrogativeSent', 'sentencesStartWithYouCount',
       'sentencesStartWithICount', 'shortWordCount', 'bodyWordCount',
       'punctuationCount', 'websiteUrlFilled', 'locationFilled',
       'aboutMeFilled', 'profileImageUrlFilled'],
      dtype='object')

In [107]:
#https://stackoverflow.com/questions/33961028/remove-non-numeric-rows-in-one-column-with-pandas
print(openCloseData.shape)
#openCloseData[openCloseData.Reputation.apply(lambda x: x.isnumeric())]
print(openCloseData.dtypes)
print(openCloseData.shape)

(159998, 34)
PostId                         object
UserId                          int64
Comment                        object
Body                           object
Title                          object
Tags                           object
Reputation                    float64
experienceInTime              float64
WebsiteUrl                     object
Location                       object
AboutMe                        object
Views                         float64
Upvotes                       float64
Downvotes                     float64
ProfileImageUrl                object
tagCount                        int64
closed                          int64
lowerUpperRatio               float64
sentenceCount                   int64
firstLineLength                 int64
codeLength                      int64
urlCount                        int64
SOUrlCount                      int64
titleLengthInChars              int64
countOfInterrogativeSent        int64
sentencesStartWithYouCount      int64
sentencesStartWithICount        int64
shortWordCount                  int64
bodyWordCount                   int64
punctuationCount                int64
websiteUrlFilled                int64
locationFilled                  int64
aboutMeFilled                   int64
profileImageUrlFilled           int64
dtype: object
(159998, 34)

In [108]:
X = openCloseData.loc[:,['Reputation',
       'experienceInTime', 'Views',
       'Upvotes', 'Downvotes', 'tagCount', 'closed',
       'lowerUpperRatio', 'sentenceCount', 'firstLineLength', 'codeLength',
       'urlCount', 'SOUrlCount', 'titleLengthInChars',
       'countOfInterrogativeSent', 'sentencesStartWithYouCount',
       'sentencesStartWithICount', 'shortWordCount', 'bodyWordCount',
       'punctuationCount', 'websiteUrlFilled', 'locationFilled',
       'aboutMeFilled', 'profileImageUrlFilled'] ]
X.replace(np.nan,0,inplace=True)  #replacing NaN to 0
X.lowerUpperRatio.replace(np.inf,0,inplace=True)  #replacing infinity to 0
print(X.shape)
print(type(X))

(159998, 24)
<class 'pandas.core.frame.DataFrame'>

In [109]:
X.head()

,Reputation,experienceInTime,Views,Upvotes,Downvotes,tagCount,closed,lowerUpperRatio,sentenceCount,firstLineLength,...,countOfInterrogativeSent,sentencesStartWithYouCount,sentencesStartWithICount,shortWordCount,bodyWordCount,punctuationCount,websiteUrlFilled,locationFilled,aboutMeFilled,profileImageUrlFilled
0,17527.0,1953.0,2765.0,2005.0,119.0,4,1,27.074074,9,69,...,1,0,3,87,176,50,0,1,1,0
1,151.0,1425.0,32.0,16.0,0.0,5,1,17.275862,10,75,...,5,0,1,51,118,19,0,0,0,0
2,1639.0,900.0,208.0,75.0,1.0,3,1,27.666667,4,79,...,1,0,0,15,50,17,1,1,1,0
3,2669.0,620.0,658.0,282.0,11.0,2,1,2.843537,7,198,...,1,0,2,70,189,45,1,1,1,1
4,245.0,648.0,78.0,14.0,0.0,4,1,98.666667,2,92,...,1,0,0,31,68,11,0,0,0,0

In [110]:
X[np.isinf(X).any(axis=1)]

Empty DataFrame
Columns: [Reputation, experienceInTime, Views, Upvotes, Downvotes, tagCount, closed, lowerUpperRatio, sentenceCount, firstLineLength, codeLength, urlCount, SOUrlCount, titleLengthInChars, countOfInterrogativeSent, sentencesStartWithYouCount, sentencesStartWithICount, shortWordCount, bodyWordCount, punctuationCount, websiteUrlFilled, locationFilled, aboutMeFilled, profileImageUrlFilled]
Index: []

[0 rows x 24 columns]

In [111]:
y = X.closed
X.drop(['closed'],inplace=True,axis=1)
print(y.shape)

(159998,)

In [112]:
#Train/Test Split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [113]:
logreg=LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [114]:
y_pred=logreg.predict(X_test)
print(y_pred.shape)

(48000,)

In [115]:
np.mean(y_pred==y_test)

0.8399375

In [117]:
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.89      0.78      0.83     24090
          1       0.80      0.90      0.85     23910

avg / total       0.85      0.84      0.84     48000