In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_recall_fscore_support

/home/cody/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/cody/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
#3 rows deleted:
#20484	,RegEx used to extract tokens from an ASCIIMath expression"	11		1	0	0	https://i.stack.imgur.com/6VcaB.png									0	1		0	0	0	0	0	1	0	0	0	1	1	0	0	0	0	0
#71350	,Bootstrap modal wont trigger on mobile"	443	Lake Mary, FL, United States	85	165	11	https://i.stack.imgur.com/TLzJW.png?s=128&g=1									0	1		0	0	0	0	0	3	0	0	0	1	1	0	0	0	0	0
#60036	<p>from group ""Value"" i can get the value of hour and it gives output as 1	3	2	4	5	6 and so on for each generator name but since no of hour is common to all i need that i get it only once that is i should get 1	2	5	6 only once</p>							0	1		0	0	0	0	0	1	0	0	0	1	1	0	1	0	0	0

openCloseData=pd.read_csv("openCloseData.csv")
openCloseData.head()

#openCloseData.drop(20484,inplace=True)
#openCloseData.drop(71350,inplace=True)
#openCloseData.drop(60036,inplace=True)
#print(20484 in openCloseData.iloc[:,1])

,Unnamed: 0,PostId,UserId,Comment,Body,Title,Tags,Reputation,experienceInTime,WebsiteUrl,...,sentencesStartWithYouCount,sentencesStartWithICount,shortWordCount,bodyWordCount,punctuationCount,websiteUrlFilled,locationFilled,aboutMeFilled,profileImageUrlFilled,tagWeightSum
0,0,21170255,5921,102,"<p>I tried to Google for this, but was (surpri...",Can anyone point me to (or post) an array of e...,<javascript><html><arrays><tags>,17527,1953,NaN,...,0,3,87,176,50,0,1,1,0,-207.161031
1,1,38290647,1601251,102,<p>I am at a decision fork where i have to pic...,RESTful API with either Tomcat or Node.js?,<java><node.js><rest><tomcat><typescript>,151,1425,NaN,...,0,1,51,118,19,0,0,0,0,-536.990588
2,2,6496114,52924,102,<p>Does anyone know of a good tool to test Sch...,Tool for testing Schema.org markup,<testing><markup><schema.org>,1639,900,http://www.agendarecife.com,...,0,0,15,50,17,1,1,1,0,-160.004636
3,3,25982771,1968462,102,"<p>The <a href=""http://www.postgresql.org/docs...",Inserting into simple Postgres views,<sql><postgresql>,2669,620,https://katrinahoffert.github.io/,...,0,2,70,189,45,1,1,1,1,-188.646160
4,4,10142243,383479,102,<p>Which frameworks would you recommend for wr...,Frameworks for Unittests for Multithreading in...,<java><multithreading><unit-testing><concurrency>,245,648,NaN,...,0,0,31,68,11,0,0,0,0,-274.409048

In [3]:
print(openCloseData.shape)
openCloseData.drop(['Unnamed: 0'],inplace=True,axis=1)
print(openCloseData.shape)
#Actually 4 rows are removed

(159996, 36)
(159996, 35)

In [4]:
openCloseData.columns

Index(['PostId', 'UserId', 'Comment', 'Body', 'Title', 'Tags', 'Reputation',
       'experienceInTime', 'WebsiteUrl', 'Location', 'AboutMe', 'Views',
       'Upvotes', 'Downvotes', 'ProfileImageUrl', 'tagCount', 'closed',
       'lowerUpperRatio', 'sentenceCount', 'firstLineLength', 'codeLength',
       'urlCount', 'SOUrlCount', 'titleLengthInChars',
       'countOfInterrogativeSent', 'sentencesStartWithYouCount',
       'sentencesStartWithICount', 'shortWordCount', 'bodyWordCount',
       'punctuationCount', 'websiteUrlFilled', 'locationFilled',
       'aboutMeFilled', 'profileImageUrlFilled', 'tagWeightSum'],
      dtype='object')

In [5]:
#https://stackoverflow.com/questions/33961028/remove-non-numeric-rows-in-one-column-with-pandas
print(openCloseData.shape)
#openCloseData[openCloseData.Reputation.apply(lambda x: x.isnumeric())]
#print(openCloseData.dtypes)
#print(openCloseData.shape)

(159996, 35)

In [6]:
print(openCloseData.head())

     PostId   UserId  Comment  \
0  21170255     5921      102
1  38290647  1601251      102
2   6496114    52924      102
3  25982771  1968462      102
4  10142243   383479      102

                                                Body  \
0  <p>I tried to Google for this, but was (surpri...
1  <p>I am at a decision fork where i have to pic...
2  <p>Does anyone know of a good tool to test Sch...
3  <p>The <a href="http://www.postgresql.org/docs...
4  <p>Which frameworks would you recommend for wr...

                                               Title  \
0  Can anyone point me to (or post) an array of e...
1         RESTful API with either Tomcat or Node.js?
2                 Tool for testing Schema.org markup
3               Inserting into simple Postgres views
4  Frameworks for Unittests for Multithreading in...

                                                Tags  Reputation  \
0                   <javascript><html><arrays><tags>       17527
1          <java><node.js><rest><tomcat><typescript>         151
2                      <testing><markup><schema.org>        1639
3                                  <sql><postgresql>        2669
4  <java><multithreading><unit-testing><concurrency>         245

   experienceInTime                         WebsiteUrl              Location  \
0              1953                                NaN     Mountain View, CA
1              1425                                NaN                   NaN
2               900        http://www.agendarecife.com        Recife, Brazil
3               620  https://katrinahoffert.github.io/  Saskatchewan, Canada
4               648                                NaN                   NaN

       ...      sentencesStartWithYouCount  sentencesStartWithICount  \
0      ...                               0                         3
1      ...                               0                         1
2      ...                               0                         0
3      ...                               0                         2
4      ...                               0                         0

   shortWordCount  bodyWordCount punctuationCount  websiteUrlFilled  \
0              87            176               50                 0
1              51            118               19                 0
2              15             50               17                 1
3              70            189               45                 1
4              31             68               11                 0

   locationFilled  aboutMeFilled  profileImageUrlFilled  tagWeightSum
0               1              1                      0   -207.161031
1               0              0                      0   -536.990588
2               1              1                      0   -160.004636
3               1              1                      1   -188.646160
4               0              0                      0   -274.409048

[5 rows x 35 columns]

### ADDING MORE FEATURES

In [7]:
# tagWeightData=pd.read_csv("tagWeightData.csv")
# print(tagWeightData.head())

In [8]:
# import re
# def calculateTagWeight(tags):
#     forClosed=re.findall('<(.*?)>',tags)
#     forOpen=tags.split('|')
#     #print(forClosed)
#     #print(forOpen)
#     if(len(forClosed) ):  #if we pass tags for open in close it won't work, but vice versa will work hence 
#         # this particular order of if-else 
#         tagList=forClosed
#     elif(len(forOpen) ):
#         tagList=forOpen
#     #print(tagList)
#     wt=0
# #     for t in tagList:
# #         #print(t)
# #         try:
            
# #         except:
# #             print(t)
# #         print(wt)
# #     print("check")
#     try:
#         for t in tagList:
#             wt=wt+tagWeightData[tagWeightData['TagName']==t][['tagWeight']].values[0]
#     except:
#         #print(tagList)
#         pass
#     return wt

In [9]:
# import time
# tic=time.time()
# openCloseData['tagWeightSum']=openCloseData['Tags'].apply(calculateTagWeight)
# toc=time.time()
# print(str((toc-tic)/60)+"mins")

In [10]:
openCloseData.columns

Index(['PostId', 'UserId', 'Comment', 'Body', 'Title', 'Tags', 'Reputation',
       'experienceInTime', 'WebsiteUrl', 'Location', 'AboutMe', 'Views',
       'Upvotes', 'Downvotes', 'ProfileImageUrl', 'tagCount', 'closed',
       'lowerUpperRatio', 'sentenceCount', 'firstLineLength', 'codeLength',
       'urlCount', 'SOUrlCount', 'titleLengthInChars',
       'countOfInterrogativeSent', 'sentencesStartWithYouCount',
       'sentencesStartWithICount', 'shortWordCount', 'bodyWordCount',
       'punctuationCount', 'websiteUrlFilled', 'locationFilled',
       'aboutMeFilled', 'profileImageUrlFilled', 'tagWeightSum'],
      dtype='object')

In [11]:
#openCloseData.to_csv("openCloseData[35 cols].csv")
openCloseData1 = openCloseData[0:80000]

In [25]:
X = openCloseData1.loc[:,['Reputation',
       'experienceInTime', 'Views',
       'Upvotes', 'Downvotes', 'tagCount', 'closed',
       'lowerUpperRatio', 'sentenceCount', 'firstLineLength', 'codeLength',
       'urlCount', 'SOUrlCount', 'titleLengthInChars',
       'countOfInterrogativeSent', 'sentencesStartWithYouCount',
       'sentencesStartWithICount', 'shortWordCount', 'bodyWordCount',
       'punctuationCount', 'websiteUrlFilled', 'locationFilled',
       'aboutMeFilled', 'profileImageUrlFilled','tagWeightSum'] ]
X.replace(np.nan,0,inplace=True)  #replacing NaN to 0
X.lowerUpperRatio.replace(np.inf,0,inplace=True)  #replacing infinity to 0
print(X.shape)
print(type(X))

(80000, 25)
<class 'pandas.core.frame.DataFrame'>

In [26]:
X.head()

,Reputation,experienceInTime,Views,Upvotes,Downvotes,tagCount,closed,lowerUpperRatio,sentenceCount,firstLineLength,...,sentencesStartWithYouCount,sentencesStartWithICount,shortWordCount,bodyWordCount,punctuationCount,websiteUrlFilled,locationFilled,aboutMeFilled,profileImageUrlFilled,tagWeightSum
0,17527,1953,2765,2005,119,4,1,27.074074,9,69,...,0,3,87,176,50,0,1,1,0,-207.161031
1,151,1425,32,16,0,5,1,17.275862,10,75,...,0,1,51,118,19,0,0,0,0,-536.990588
2,1639,900,208,75,1,3,1,27.666667,4,79,...,0,0,15,50,17,1,1,1,0,-160.004636
3,2669,620,658,282,11,2,1,2.843537,7,198,...,0,2,70,189,45,1,1,1,1,-188.646160
4,245,648,78,14,0,4,1,98.666667,2,92,...,0,0,31,68,11,0,0,0,0,-274.409048

In [27]:
#offTopic = openCloseData[(openCloseData[''] >= 99) & (openCloseData[''] <= )]
X['reason'] = 1
X['reason'][0:20000] = 0
X['reason'][20000:40000] = 1
X['reason'][40000:60000] = 2
X['reason'][60000:80000] = 3

#print(offTopic.head())
print(X.shape)

/home/cody/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/cody/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/cody/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

(80000, 26)

/home/cody/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
X[np.isinf(X).any(axis=1)]

Empty DataFrame
Columns: [Reputation, experienceInTime, Views, Upvotes, Downvotes, tagCount, closed, lowerUpperRatio, sentenceCount, firstLineLength, codeLength, urlCount, SOUrlCount, titleLengthInChars, countOfInterrogativeSent, sentencesStartWithYouCount, sentencesStartWithICount, shortWordCount, bodyWordCount, punctuationCount, websiteUrlFilled, locationFilled, aboutMeFilled, profileImageUrlFilled, tagWeightSum, reason]
Index: []

[0 rows x 26 columns]

In [29]:
#Train/Test Split
y = X.reason
X.drop(['closed'],inplace=True,axis=1)
X.drop(['reason'],inplace=True,axis=1)
print(y.shape)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(80000,)
(56000, 24)
(56000,)
(24000, 24)
(24000,)

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.model_selection import train_test_split


rf = RandomForestClassifier(n_estimators=50, max_depth = 20 , n_jobs = -1)
rf_model = rf.fit(X_train,y_train)

In [31]:
y_pred = rf_model.predict(X_test)

#precision,recall,fscore,support = score(y_test,y_pred,pos_label=1,average=None)
#print("Precision : {} / Recall : {} / Accuracy : {} / ".format(round(precision,3),
                                                                #round(recall,3),
                                                                #round((y_pred==y_test).sum()/len(y_pred),3)))

In [32]:
#Accuracy
np.mean(y_pred==y_test)

0.424375

In [33]:
sorted(zip(rf_model.feature_importances_,X_train.columns),reverse=True)[0:10]

[(0.0734686917010467, 'Reputation'),
 (0.06956314193383144, 'bodyWordCount'),
 (0.0694992223354029, 'lowerUpperRatio'),
 (0.06875591018306629, 'tagWeightSum'),
 (0.06802814272670533, 'punctuationCount'),
 (0.06597614066530197, 'Views'),
 (0.06437042884003402, 'experienceInTime'),
 (0.06423084241079043, 'firstLineLength'),
 (0.06315861075313006, 'titleLengthInChars'),
 (0.06079728986690681, 'shortWordCount')]

In [34]:
#i=0
#while(i<2000):
    #print(y_pred[i]  )
    #i=i+1

In [35]:
print(classification_report(y_test,y_pred) )
print("Precision: "+str(precision_score(y_test, y_pred, average=None)) )
print("Recall: "+str(recall_score(y_test, y_pred, average=None)) )
print("F1 Score:"+str(f1_score(y_test, y_pred, average=None)) )
print(precision_recall_fscore_support(y_test, y_pred, average=None) )
# Precision, recall, fscore, support in order

             precision    recall  f1-score   support

          0       0.35      0.26      0.30      5926
          1       0.42      0.48      0.45      6080
          2       0.40      0.36      0.38      5982
          3       0.49      0.60      0.54      6012

avg / total       0.42      0.42      0.42     24000

Precision: [0.35405157 0.42109852 0.3959633  0.49030584]
Recall: [0.25953426 0.47664474 0.36074891 0.59730539]
F1 Score:[0.29951315 0.44715322 0.37753674 0.53854229]
(array([0.35405157, 0.42109852, 0.3959633 , 0.49030584]), array([0.25953426, 0.47664474, 0.36074891, 0.59730539]), array([0.29951315, 0.44715322, 0.37753674, 0.53854229]), array([5926, 6080, 5982, 6012]))

In [23]:
#print(classification_report(y_test,y_pred))

### 5 Fold Cross Validation

In [36]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold,cross_val_score
k_fold = KFold(n_splits=5)
    
cross_val_score(rf,X,y,cv=k_fold,scoring='accuracy',n_jobs=-1)

array([6.250000e-05, 1.465625e-01, 2.001875e-01, 1.759375e-01,
       2.800000e-02])